@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root{
  --max-width: 1440px;
  --color-white : hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 3%, 87%);
  --color-dark-grayish-violet:hsl(279, 6%, 55%);
  --color-very-dark-violet:hsl(278, 68%, 11%);
  --color-red : hsl(0, 100%, 66%);
  --color-linear-gradient:hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --font-size : 18px;
  --font-weight:500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
}
